html, body {
  width:100vw; /* or % */
  height:100vh; /* or % */
  overflow-x: hidden;
  overflow: hidden;
}

@import '~antd/dist/antd.css';

.ant-drawer-wrapper-body {
  color: #CCC7C3;
  background-color: #242424;
}

.ant-drawer-content-wrapper {
  width: 300px;
}

.ant-drawer-header {
  color: #CCC7C3;
  background-color: #242424;
}

.ant-drawer-body {
  font-size: 1em;
  padding: 0;
}

div .selected {
  border-left: 5px solid red;
}

.ant-badge-count {
  box-shadow: 0 0 0 1px red
}

.ant-card-bordered {
  border: 0
}

.ant-card-body {
  background: black;
  padding: 0
}

